<div>
    <header><h1>Welcome to User Information Display App.</h1></header>
    <p id="span"> <span> This is a simple application for fetching user's information using http mock data by calling the get http request.</span></p>

</div>
<div class="hlt">
    <p>To add a new use click <b style="color: blue;">"Add User"</b> Fill the forms with the corresponding data and click <b style="color: blue;">submit</b> </p>
    <p>To view if the user information is added click on <b style="color: blue;">"User List"</b> to see the full information of users</p>
    <p>To view just first name click on <b style="color: blue;">"First Name"</b></p>
    <p>To view just last name click on <b style="color: blue;">"Last Name"</b></p>
    <p>To view just gender click on <b style="color: blue;">"Gender"</b></p>
    <p>To view just birthday click on <b style="color: blue;">"Birthday"</b></p>
</div>

