<ul>
    <li id="home"> <a href="#"> Home</a></li>
    <li class="links"> <a routerLink="/user-list/avartar" > Avatar</a></li>
    <li class="links"> <a routerLink="./user-list/birthday" >Birthday</a></li>
    <li class="links"> <a routerLink="./user-list/gender" >Gender</a></li>
    <li class="links"> <a routerLink="./user-list/last-name" >Last Name</a></li>
    <li class="links"> <a routerLink="./user-list/first-name" >First Name</a></li>
    <li class="links"> <a routerLink="../user-list" >User List</a></li>
    <li class="links"> <a routerLink="../post-user" >Add User</a></li>
</ul>





